<mat-card class="text-center">
  <h2>Date calculater for Ida</h2>

  <form [formGroup]="datesFormGroup" (ngSubmit)="onSubmit()">
    <div formArrayName="datesFormArray">
      <div *ngFor="let date of datesFormGroup.get('datesFormArray')['controls']">
        <form [formGroup]="date">
          <mat-form-field class="date-form-field">
            <input matInput type="number" placeholder="days" formControlName="days">
          </mat-form-field>
          <mat-form-field class="date-form-field">
            <input matInput type="number" placeholder="months" formControlName="months">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="years" formControlName="years">
          </mat-form-field>
        </form>
      </div>
    </div>

    <br>
    <button mat-raised-button color="warn">calculate</button>

  </form>
</mat-card>

<div class="center">
  <div class="card">
    <span style="float:left">days: {{ daysSum }}</span>
    <span>months: {{ monthsSum }}</span>
    <span style="float:right">years: {{ yearsSum }}</span>    
  </div>
</div>